@import 'src/styles.scss';

.login__account {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  right: rem(160);

  @media (min-width: $width-md) and (max-width: $width-md-l) {
    position: static;
    transform: none;
    margin-left: rem(20);
    align-self: center;
  }

  @media (max-width: $width-md) {
    grid-area: c;
    transform: none;
    justify-content: flex-end;
    align-items: center;
    position: static;
  }

  &-title {
    @include text;
    color: var(--black);
    margin-right: rem(8);
    margin-bottom: rem(0);
  }

  &-image-container {
    @include base-button-behavior;
    display: flex;
    padding: rem(2.4);
    align-items: center;
    border-radius: rem(4);
    background-color: var(--blue);
    transition: 1s;

    .fa-user-circle {
      color: var(--white);
      font-size: rem(18);
    }
  }
}
