@import 'src/styles.scss';

.search {
  display: flex;
  justify-content: center;

  @media (max-width: 1200px) {
    grid-area: b;
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  &__input {
    display: block;
    padding-left: 0.375rem;
    width: 100%;
    height: 1.5rem;
    outline: none;
    border: none;
    box-sizing: border-box;
  }

  &__button {
    display: flex;
    align-items: center;
    text-align: center;
    padding: 0 22px;
    color: var(--white);
    border: none;
    outline: none;
    border-radius: 0rem 0.25rem 0.25rem 0rem;
    background-color: var(--blue);
    @include text;
    @include base-button-behavior;
    transition: 1s;
  }

  &__settings-button {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 0.28125rem;
    width: 1.5rem;
    margin-left: 0.90625rem;
    background: var(--blue);
    border-radius: 0.3125rem;
    @include base-button-behavior;
    transition: 1s;

    &:hover {
      .top {
        &::before {
          transition: 1s;
          transform: translateX(-0.375rem);
        }
      }

      .middle {
        &::before {
          transition: 1s;
          transform: translateX(0.375rem);
        }
      }

      .bottom {
        &::before {
          transition: 1s;
          transform: translateX(-0.375rem);
        }
      }
    }

    .line {
      display: block;
      margin: 0.109375rem;
      width: 0.84375rem;
      height: 0.09375rem;
      background-color: var(--white);
      border-radius: 0.0625rem;
    }

    .top {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -0.0625rem;
        right: 0.125rem;
        background-color: var(--white);
        border-radius: 0.109375rem;
        width: 0.21875rem;
        height: 0.21875rem;
        transition: 1s;
      }
    }

    .middle {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -0.0625rem;
        left: 0.125rem;
        background-color: var(--white);
        border-radius: 0.109375rem;
        width: 0.21875rem;
        height: 0.21875rem;
        transition: 1s;
      }
    }

    .bottom {
      position: relative;
      &::before {
        content: '';
        position: absolute;
        top: -0.0625rem;
        right: 0.125rem;
        background-color: var(--white);
        border-radius: 0.109375rem;
        width: 0.21875rem;
        height: 0.21875rem;
        transition: 1s;
      }
    }
  }
}
