@import 'src/styles.scss';

.card {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-background);
  padding: rem(20) rem(20) rem(10);
  border-radius: rem(5);

  &.green {
    border-bottom: rem(5) solid var(--green);
  }

  &.blue {
    border-bottom: rem(5) solid var(--blue);
  }

  &.red {
    border-bottom: rem(5) solid var(--red);
  }

  &.yellow {
    border-bottom: rem(5) solid var(--yellow);
  }

  &__info {
    display: flex;
    gap: rem(16);
    margin-top: rem(21);
    margin-bottom: rem(21);
  }

  &__info-item {
    display: flex;
    align-items: center;
    gap: rem(3);
  }

  &__container {
    display: flex;
    justify-content: center;
  }

  &__image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: rem(123);
    width: rem(223);
    overflow: hidden;

    & > img {
      width: 100%;
    }
  }

  &__title {
    @include label;
    color: var(--black);
    align-self: flex-end;
    margin-bottom: rem(59);
    max-width: rem(203);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

.info-text {
  @include small-text;
  margin-bottom: rem(0);
}
