<div class="form-wrapper">
  <form class="form" [formGroup]="form" (submit)="submit()">
    <h2 class="form__title">Login</h2>

    <app-form-input
      [control]="login"
      type="email"
      name="login"
      caption="login:"
      [form]="form"
    ></app-form-input>
    <app-form-input
      [control]="password"
      type="password"
      name="password"
      caption="password:"
      [form]="form"
    ></app-form-input>

    <div class="form__controls">
      <app-button
        *ngIf="isAuthenticated$ | async"
        caption="Logout"
        (clickHandler)="logout()"
      ></app-button>
      <app-button
        type="link"
        caption="Registration"
        (clickHandler)="goToRegistration()"
      ></app-button>
      <app-button
        *ngIf="(isAuthenticated$ | async) === false"
        type="submit"
        caption="Login"
        [isDisabled]="form.invalid"
      ></app-button>
    </div>
  </form>
</div>
