@import 'src/styles.scss';

.logo {
  display: flex;
  grid-area: a;
  align-items: center;
  justify-content: center;
  margin-right: rem(10);
  transition: 1s;

  @media (max-width: $width-md) {
    justify-content: flex-start;
  }
}

.search {
  grid-area: b;
  max-width: rem(510 - 34);
  width: 100%;

  @media (max-width: $width-md) {
    margin-left: auto;
    margin-right: auto;
  }
}

.search-settings {
  grid-area: d;
}

.login__account {
  grid-area: c;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  display: flex;
  align-items: center;
  right: rem(160);

  @media (min-width: $width-md) and (max-width: $width-md-l) {
    position: static;
    transform: none;
    margin-left: rem(20);
    align-self: center;
  }

  @media (max-width: $width-md) {
    transform: none;
    justify-content: flex-end;
    align-items: center;
    position: static;
  }
}

.header {
  position: relative;
  display: flex;
  padding-top: rem(15);
  padding-bottom: rem(15);
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);

  @media (max-width: $width-md) {
    display: grid;
    grid-template-columns: 50% calc(50% - rem(40)) rem(40);
    width: 100%;
    grid-template-areas:
      'a c c'
      'b b d';
    padding-left: rem(30);
    padding-right: rem(30);
  }
}
