@import 'src/styles.scss';

.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0.625rem;
  transition: 1s;

  &__link {
    height: 3.125rem;
  }

  &:hover {
    transform: scale(1.01);
    transition: 1s;
  }
}

@media (max-width: 1200px) {
  .logo {
    grid-area: a;
    justify-content: flex-start;
  }
}
