@import 'src/styles.scss';

.login {
  display: flex;
  justify-content: center;
  align-items: center;

  &__account {
    &-title {
      @include text;
      color: var(--black);
      margin-right: rem(8);
      margin-bottom: rem(0);
    }
  }
}

.fa-user-circle {
  color: var(--white);
  font-size: rem(18);
}
