@mixin label {
  font-weight: bold;
  font-size: rem(20);
  line-height: rem(23);
}

@mixin text {
  font-weight: normal;
  font-size: rem(12);
  line-height: rem(14);
}

@mixin middle-label {
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

@mixin big-label {
  font-weight: bold;
  font-size: rem(24);
  line-height: rem(28);
}

@mixin small-text {
  font-weight: normal;
  font-size: rem(10);
  line-height: rem(12);
}

@mixin base-shadow($color) {
  box-shadow: rem(0) rem(0) rem(8) $color;
}

@mixin base-button-behavior {
  @include base-shadow(var(--blue));

  &:hover {
    transition: 1s;
    background-color: var(--blue-light);
    @include base-shadow(var(--blue-light));
  }

  &:active {
    transition: 1s;
    background-color: var(--gray-dark);
    @include base-shadow(var(--gray-dark));
  }
}

@mixin form-container {
  display: flex;
  flex-direction: column;
  max-width: rem(344);
  width: 100%;
  border-radius: 5px;
  align-items: center;
  padding: rem(30) rem(20) rem(26);
  background-color: var(--popup-background);
  margin-top: rem(45);
  margin-left: auto;
  margin-right: auto;
}

@mixin form-title {
  @include middle-label;
  align-self: flex-start;
  margin-bottom: rem(22);
}

@mixin form-controls {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: rem(15);
  width: 100%;
  margin-top: rem(10);
}

@mixin base-svg-icon-behavior {
  &:hover {
    & > path {
      fill: var(--blue);
    }
  }
}

@mixin card {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: rem(327);
  background-color: var(--main-background);
  padding: rem(20) rem(20) rem(10);
  border-radius: rem(5);
}

@mixin card-image {
  display: flex;
  justify-content: center;
  align-items: center;
  height: rem(123);
  width: rem(223);
  overflow: hidden;
  & > img {
    width: 100%;
  }
}

@mixin card-title {
  @include label;
  color: var(--black);
  align-self: flex-end;
  margin-top: rem(21);
  max-width: rem(203);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin card-border {
  &.green {
    border-bottom: rem(5) solid var(--green);
  }

  &.blue {
    border-bottom: rem(5) solid var(--blue);
  }

  &.red {
    border-bottom: rem(5) solid var(--red);
  }

  &.yellow {
    border-bottom: rem(5) solid var(--yellow);
  }
}
