:root {
  --main-background: #e5e5e5;
  --popup-background: #f2f2f2;
  --blue: #2f80ed;
  --blue-light: #5ea2ff;
  --yellow: #f2c94c;
  --green: #27ae60;
  --red: #eb5757;
  --gray: #efefef;
  --gray-light: #e0e0e0;
  --gray-middle: #c4c4c4;
  --gray-dark: #b1b1b1;
  --black: #4f4f4f;
  --white: #ffffff;
}
