@import 'src/styles.scss';

.search {
  grid-area: b;
  max-width: 35.625rem;
  width: 100%;
}

.header {
  position: relative;
  display: flex;
  padding-top: 0.9375rem;
  padding-bottom: 0.9375rem;
  justify-content: center;
  align-items: center;
  background-color: var(--main-background);
}

@media (max-width: 1200px) {
  .search {
    margin-left: auto;
    margin-right: auto;
  }
  .header {
    display: grid;
    grid-template-columns: 50% 50%;
    width: 100%;
    grid-template-areas:
      'a c'
      'b b';
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
