@import 'src/styles.scss';

:host {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - (rem(80)));
}

.error {
  display: flex;
  align-items: center;
  gap: rem(25);

  &__logo {
    display: flex;
    align-items: center;
  }

  &__message {
    @include big-label;
    width: rem(230);
    color: var(--gray-darky);
  }
}
