@import 'src/styles.scss';

.search {
  display: flex;
  justify-content: center;
  grid-area: b;

  @media (max-width: $width-md-l) {
    flex: 1;
    margin-left: auto;
    margin-right: auto;
  }

  &__input {
    display: block;
    padding-left: rem(6);
    width: 100%;
    height: rem(24);
    outline: none;
    border: none;
    box-sizing: border-box;
  }
}
