<div class="detail">
  <div class="detail__image-container">
    <img class="detail__image" src="https://i.ytimg.com/vi/m0yGx2MGZWg/sddefault.jpg" alt="" />
  </div>
  <div class="detail__information">
    <div class="detail__information-title">
      <div class="detail__title">Kuji Podcast #20</div>
      <div class="detail__date">Thursday, December 20, 2019</div>
    </div>
    <div class="detail__description">
      <h3 class="detail__description-title">Description:</h3>
      <p class="detail__description-text">
        This Is KuJi Podcast. In this issue, Timur karginov, Andrey Konyaev and Nurlan Saburov
        discuss the end of 2018: Khabib's fight with McGregor, Kokorin and Mamayev, Urgant's show on
        channel One, the economic crisis and gifts for loved ones. This Is KuJi Podcast. In this
        issue, Timur karginov, Andrey Konyaev and Nurlan Saburov discuss the end of 2018: Khabib's
        fight with McGregor, Kokorin and Mamayev, Urgant's show on channel One, the economic crisis
        and gifts for loved ones. This Is KuJi Podcast. In this issue, Timur karginov, Andrey
        Konyaev and Nurlan Saburov discuss the end of 2018: Khabib's fight with McGregor, Kokorin
        and Mamayev, Urgant's show on channel One, the economic crisis and gifts for loved ones.
        This Is KuJi Podcast. In this issue, Timur karginov, Andrey Konyaev and Nurlan Saburov
        discuss the end of 2018: Khabib's fight with McGregor, Kokorin and Mamayev, Urgant's show on
        channel One, the economic crisis and gifts for loved ones. This Is KuJi Podcast. In this
        issue, Timur karginov, Andrey Konyaev and Nurlan Saburov discuss the end of 2018: Khabib's
        fight with McGregor, Kokorin and Mamayev, Urgant's show on channel One, the economic crisis
        and gifts for loved ones. This Is KuJi Podcast. In this issue, Timur karginov, Andrey
        Konyaev and Nurlan Saburov discuss the end of 2018: Khabib's fight with McGregor, Kokorin
        and Mamayev, Urgant's show on channel One, the economic crisis and gifts for loved ones.
      </p>
    </div>
    <app-info
      [statistics]="{
        commentCount: '888',
        dislikeCount: '888',
        likeCount: '888',
        viewCount: '888'
      }"
    ></app-info>
  </div>
  <div class="detail__back-button">
    <fa-icon class="fa-chevron-left" [icon]="faChevronLeft"></fa-icon>
  </div>
</div>
